<!-- Material Example -->
<div class="cdk-drop-list-group" cdkDropListGroup>
  <div class="example-container-queue">
    <div cdkDropList [cdkDropListData]="carQueue.cars" cdkDropListOrientation="horizontal" class="queue-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let car of carQueue.cars" cdkDrag>{{car.car}}</div>
    </div>
  </div>
  <div class="container">
    <div class="example-container">
      <div [cdkDropListEnterPredicate]="trackSeven.allow" cdkDropList [cdkDropListData]="trackSeven.cars"
        cdkDropListOrientation="horizontal" class="pre-shop" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let car of trackSeven.cars" cdkDrag>{{car.car}}</div>
      </div>
      <div [cdkDropListEnterPredicate]="trackOne.allow" cdkDropList [cdkDropListData]="trackOne.cars"
        cdkDropListOrientation="horizontal" class="car-shop-1" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let car of trackOne.cars" cdkDrag>{{car.car}}</div>
      </div>
      <div [cdkDropListEnterPredicate]="trackTwo.allow" cdkDropList [cdkDropListData]="trackTwo.cars"
        cdkDropListOrientation="horizontal" class="car-shop-2" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let car of trackTwo.cars" cdkDrag>{{car.car}}</div>
      </div>
      <div [cdkDropListEnterPredicate]="trackFive.allow" cdkDropList [cdkDropListData]="trackFive.cars"
      cdkDropListOrientation="horizontal" class="post-shop" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let car of trackFive.cars" cdkDrag>{{car.car}}</div>
      </div>
    </div>
    <div class="example-container">
      <div [cdkDropListEnterPredicate]="trackEight.allow" cdkDropList [cdkDropListData]="trackEight.cars"
        cdkDropListOrientation="horizontal" class="pre-shop" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let car of trackEight.cars" cdkDrag>{{car.car}}</div>
      </div>
      <div [cdkDropListEnterPredicate]="trackThree.allow" cdkDropList [cdkDropListData]="trackThree.cars"
        cdkDropListOrientation="horizontal" class="car-shop-1" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let car of trackThree.cars" cdkDrag> {{car.car}} </div>
      </div>
      <div [cdkDropListEnterPredicate]="trackFour.allow" cdkDropList [cdkDropListData]="trackFour.cars"
        cdkDropListOrientation="horizontal" class="car-shop-2" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let car of trackFour.cars" cdkDrag>{{car.car}}</div>
      </div>
      <div [cdkDropListEnterPredicate]="trackSix.allow" cdkDropList [cdkDropListData]="trackSix.cars"
        cdkDropListOrientation="horizontal" class="post-shop" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let car of trackSix.cars" cdkDrag>{{car.car}}</div>
      </div>
    </div>
  </div>
</div>



<!-- Testing Grid CSS -->

<!-- <div class="example-container-queue">
    <div class="queue-list ui-g-12" [(dragulaModel)]="carQueue" dragula="CAR_LIST">
      <div  class="queue-box" *ngFor="let car of carQueue">{{car.car}}</div>
    </div>
</div>
<div class="calendar">
  <ul dragula="CAR_LIST" [(dragulaModel)]="trackOne" class="day-grid">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li ></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div> -->


<!-- Dragula Example -->
<!-- <div>
  <div class="example-container-queue">
    <div class="queue-list ui-g-12" [(dragulaModel)]="carQueue" dragula="CAR_LIST">
      <div  class="queue-box" *ngFor="let car of carQueue">{{car.car}}</div>
    </div>
  </div>
  <div class="tracks-area">
    <div class="example-container" [(dragulaModel)]="trackOne" dragula="CAR_LIST">
        <div  class="example-box" *ngFor="let car of trackOne">{{car.car}}</div>
    </div>
    <div class="example-container" [(dragulaModel)]="trackTwo" dragula="CAR_LIST">
        <div  class="example-box" *ngFor="let car of trackTwo">{{car.car}}</div>
    </div>
    <div class="ui-g-3 example-container" [(dragulaModel)]="trackThree" dragula="CAR_LIST">
        <div  class="example-box" *ngFor="let car of trackThree">{{car.car}}</div>
    </div>
    <div class="ui-g-3 example-container" [(dragulaModel)]="trackFour" dragula="CAR_LIST">
        <div  class="example-box" *ngFor="let car of trackFour">{{car.car}}</div>
    </div>
  </div> -->

<!--   <div class="wrapper example-container"  dragula="CAR_LIST">
    <div class="drop-list ui-g-12">
      <div  class="example-box" *ngFor="let car of trackOne">{{car.car}}</div>
    </div>
    <div class="drop-list ui-g-12" [(dragulaModel)]="trackTwo">
      <div  class="example-box" *ngFor="let car of trackTwo">{{car.car}}</div>
    </div>
  </div> -->

<!-- Angular Drag Drop Testing -->
<!--   <div *ngFor="let car of carQueue" mwlDraggable dropData={{car.car}} dragActiveClass="drag-active">
    Drag me!
  </div>
  <div mwlDraggable dropData="bar" dragActiveClass="drag-active" [dragSnapGrid]="{x: 100, y: 100}">
    I snap to a 100 x 100 grid
  </div>
  <div 
    mwlDroppable
    (drop)="onDrop($event)"
    dragOverClass="drop-over-active">
    <span [hidden]="droppedData">Drop here</span>
    <span [hidden]="!droppedData">Item dropped here with data: {{ droppedData.car }}!</span>
  </div> -->

<router-outlet></router-outlet>